<h2>Registrieren</h2>

<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="username">Benutzername:</label><br>
    <input type="text" id="username" formControlName="username">
    <div *ngIf="registrationForm.get('username')?.invalid && (registrationForm.get('username')?.dirty || registrationForm.get('username')?.touched)">
        <div *ngIf="registrationForm.get('username')?.errors?.['required']">
            Benutzername ist erforderlich.
        </div>
    </div>
  </div>
  <br>

  <div>
    <label for="email">E-Mail:</label><br>
    <input type="email" id="email" formControlName="email">
     <div *ngIf="registrationForm.get('email')?.invalid && (registrationForm.get('email')?.dirty || registrationForm.get('email')?.touched)">
        <div *ngIf="registrationForm.get('email')?.errors?.['required']">
            E-Mail ist erforderlich.
        </div>
        <div *ngIf="registrationForm.get('email')?.errors?.['email']">
            Bitte geben Sie eine gültige E-Mail-Adresse ein.
        </div>
    </div>
  </div>
  <br>

  <div>
    <label for="password">Passwort:</label><br>
    <input type="password" id="password" formControlName="password">
     <div *ngIf="registrationForm.get('password')?.invalid && (registrationForm.get('password')?.dirty || registrationForm.get('password')?.touched)">
        <div *ngIf="registrationForm.get('password')?.errors?.['required']">
            Passwort ist erforderlich.
        </div>
         <div *ngIf="registrationForm.get('password')?.errors?.['minlength']">
            Passwort muss mindestens 8 Zeichen lang sein.
        </div>
    </div>
  </div>
  <br>
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
  <button type="submit" [disabled]="registrationForm.invalid">Registrieren</button>
</form>